* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

table {
    border-spacing: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 15px;
}

body {
    background-color: #FFFFFF;
    min-width: 1000px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea {
    resize: none;
}

a:hover, .link:hover {
    text-decoration: underline;
    cursor: pointer;
}

h3 {
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

input[type='text'], input[type='password'], textarea {
    border: 1px solid #777777;
    padding: 2px 5px;
}

input[type='button'], input[type='submit'] {
    background-color: #6474a5;
    color: #EEEEEE;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px #777777;
    min-width: 80px;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    padding: 0 3px;
}

input[type='button']:hover, input[type='submit']:hover {
    box-shadow: 1px 1px 1px 1px #333333;
}

input[type='button']:active, input[type='submit']:active {
    box-shadow: inset 1px 1px 1px 1px #777777;
}

input[type='button']:disabled, input[type='submit']:disabled {
    color: #909090;
}

.clear {
    clear: both;
}

.form_table {
    width: 100%;
}

.form_table td {
    padding: 5px 5px;
}

.form_table .label {
    font-size: 13px;
    width: 1px;
    white-space: nowrap;
    padding-right: 10px;
}

.form_table .input {
    width: 1px;
    white-space: nowrap;
    padding-right: 10px;
}

.form_table .restrictions {
    font-size: 13px;
    text-align: left;
}

.form_table .restrictions.password2 {
    color: green;
}

.tag_input {
    min-width: 150px;
}

.tag_ul {
    position: relative;
    height: 0;
}

.tag_li {
    height: 16px;
    background-color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.tag_li:hover, .tag_li.selected {
    background-color: #6474a5;
}

.tag_li .usage {
    float: right;
    position: relative;
    background-color: inherit;
    z-index: 10;
    font-weight: bold;
}

#header_wr {
    width: 100%;
    background-color: #DDDDDD;
    z-index: 10;
    opacity: 1;
}

#message {
    color: #FFFFFF;
    width: 100%;
    height: 37px;
    text-align: center;
    display: block;
    margin-bottom: -37px;

    position: relative;
    top: -37px;
    z-index: -10;
    line-height: 38px;
    font-size: 18px;
}

#message.error {
    background-color: #CB908F;
}

#message.success {
    background-color: #8CB68F;
}

#header {
    width: 980px;
    margin: 0 auto;
    line-height: 35px;
    height: 35px;
}

#header #online {
    font-size: 11px;
}

#header #header_login {
    text-align: right;
}

#header #header_login #username {
    font-weight: bold;
}

#page_body {
    width: 980px;
    margin: 0 auto;
    padding: 20px 0;
}

#right_block_container {
    width: 330px;
    float: right;
    background-color: #EEEEEE;
    margin-top: 0;
}

#content_container {
    width: 625px;
}

#need_username {
    width: 500px;
    margin: 20px 0;
}

#need_username #username_restrictions, #need_username #username_busy {
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
}

#need_username #username_busy {
    display: none;
}

#register_table .label {
    width: 110px;
}

#register_table .input {
    width: 171px;
}

#questions_top {
    width: 625px;
}

#questions_top #refresh {
    text-align: right;
}

#questions {
    margin: 15px 0;
}

#questions .item {
    margin-bottom: 8px;
    width: 625px;
    padding: 5px 0;
    border-bottom: 1px dotted #EEEEEE;
}

#questions .item:last-of-type {
    border-bottom: none;
}

#questions .item .votes, #questions .item .messages, #questions .item .subscribers {
    text-align: center;
    color: #778292;
}

#questions .item .messages {
    width: 70px;
}

#questions .item .votes {
    width: 60px;
}

#questions .item .subscribers {
    width: 80px;
}

#questions .item .number {
    font-size: 20px;
    width: 100%;
}

#questions .item .sign {
    font-size: 11px;
    width: 100%;
}

#questions .item .title, #questions .item .tags {
    padding-left: 15px;
}

#questions .item .title {
    font-weight: bold;
    color: #130e5a;
}

#questions .item .tags span, #question_tags span {
    list-style: none;
    margin: 2px 0;
    background-color: #DFE9F0;
    color: #2A5594;
    display: inline-block;
    padding: 2px 4px;
    white-space: nowrap;
    font-size: 13px;
}

#questions .item .time {
    text-align: right;
    color: #777777;
    width: 55px;
    vertical-align: bottom;
    font-size: 11px;
}

#question_back {
    display: block;
    margin-bottom: 15px;
}

#users_in_chat {
    font-size: 12px;
    padding-top: 7px;
}

#users_in_chat span {
    font-weight: bold;
}

#users_in_chat span:after {
    content: ",";
    font-weight: normal;
}

#users_in_chat span:nth-last-of-type(2):after, #users_in_chat span:last-of-type:after {
    content: "";
}

#users_in_chat span.anon_users {
    font-weight: normal !important;
}

#question_info {
    width: 625px;
}

#question_title {
    width: 625px;
    color: #130e5a;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

#edit_question_button {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('images/edit_question.png') no-repeat 0 0;
    cursor: pointer;
    /*margin-left: -5px;*/
    position: relative;
    top: 4px;
}

#question_add_to_favourite {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('images/add_to_favorite.png') no-repeat 0 0;
    cursor: pointer;
    margin-left: -5px;
    position: relative;
    top: 4px;
}

#question_add_to_favourite:hover, #question_add_to_favourite.active {
    background-position: 0 -24px;
}

#question_vote {
    padding-right: 10px;
    vertical-align: top;
}

#question_vote_up, #question_vote_down {
    width: 22px;
    height: 22px;
    background: url('images/question_vote.png') no-repeat;
    cursor: pointer;
}

#question_vote_up {
    background-position: 0 0;
}

#question_vote_up:hover, #question_vote_up.voted {
    background-position: -22px 0;
}

#question_vote_down {
    background-position: 0 -22px;
}

#question_vote_down:hover, #question_vote_down.voted {
    background-position: -22px -22px;
}

#question_vote_up.disabled {
    cursor: default !important;
    background-position: -44px 0 !important;
}

#question_vote_down.disabled {
    cursor: default !important;
    background-position: -44px -22px !important;
}

#question_votes {
    font-size: 20px;
    text-align: center;
}

#question_text {
    width: 625px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-top: 15px;
    vertical-align: top;
}

#question_tags {
    vertical-align: bottom;
}

#question_author {
    font-size: 13px;
    font-weight: bold;
    vertical-align: bottom;
    width: 1px;
}

#chat_wr {
    margin-top: 5px;
}

#chat_wr #chat_container {
    position: relative;
    height: 400px;
    width: 625px;
    overflow-y: hidden;
    border-top: 1px solid #AAAAAA;
    padding-top: 5px;
}

#chat_wr #chat_container #chat {
    height: 390px;
    width: 600px;
    padding: 5px;
    display: table-cell;
    vertical-align: bottom;
}

#chat_wr #message_input {
    margin-top: 10px;
    width: 525px;
}

#chat_wr #send_message_button {
    vertical-align: top;
    position: relative;
    top: 10px;
    width: 80px;
}

#chat_wr #reply {
    display: none;
    font-size: 13px;
}

#chat_wr #reply_cancel {
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("images/cancel.png") no-repeat center;
    vertical-align: text-bottom;
    margin-right: -3px;
    position: relative;
    top: -1px;
}

#reply_username {
    font-weight: bold;
}

#chat_wr #chat .message {
    width: 100%;
    font-size: 13px;
    margin-top: 3px;
}

#chat_wr #chat .message .votes {
    white-space: nowrap;
    vertical-align: top;
    width: 36px;
}

#chat_wr #chat .message .votes .vote_up {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('images/vote_up.png') no-repeat 0 0;
    vertical-align: bottom;
    cursor: pointer;
}

#chat_wr #chat .message .votes .vote_up:hover, #chat_wr #chat .message .votes .vote_up.voted {
    background-position: -16px 0;
}

#chat_wr #chat .message .votes .vote_up.disabled {
    background: white !important;
    cursor: default !important;
}

#chat_wr #chat .message .votes .votes_count {
    line-height: 15px;
    margin: 0 5px 0 0;
    min-width: 15px;
    display: inline-block;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}

#chat_wr #chat .message .name_text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 16px;
    height: 16px;
}

#chat_wr #chat .message .username {
    font-weight: bold;
    cursor: pointer;
}

#chat_wr #chat .message .addressee {
}

#chat_wr #chat .message .addressee.iAmAddressee {
    color: #002977;
    font-weight: bold;
}

#chat_wr #chat .message .time {
    text-align: right;
    color: #777777;
    width: 55px;
    vertical-align: top;
}

#login_table {
    border-spacing: 0;
    width: 330px;
    padding: 20px;
}

#login_table td {
    font-size: 12px;
}

#login_title {
    font-size: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
}

#login_table input[type='text'], #login_table input[type='password'] {
    width: 190px;
    margin: 2px 0;
    font-size: 12px;
    height: 9px;
    padding: 5px;
}

#login_table input[type='submit'] {
    margin-left: 39px;
}

#login_register {
    font-weight: normal;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

#lost_password {
    font-weight: normal;
    margin-right: 60px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#lost_password_table {
    width: 100%;
}

#lost_password_table td, #login_error_table td {
    padding: 10px 30px 5px 0;
}

#lost_password_table #email {
    width: 100%;
}

#lost_password_table #result {
    font-size: 12px;
}

#login_bottom {
    padding-top: 5px;
}

#error_message {
    color: red;
    padding-top: 5px;
    text-align: center;
}

#registered_message {
    color: green;
    padding-top: 5px;
    text-align: center;
}

#vk_auth {
    margin: 0 auto 20px auto;
}

#right_block #new_question {
    margin: 5px 20px 0 20px;
    float: left;
}

#right_block #login_info {
    margin-top: 10px;
}

#right_block #login_info, #right_block #go_to_cp {
    padding: 5px 15px 0 0;
    text-align: right;
}

#right_block #login_info #username {
    font-weight: bold;
}

#right_block #go_to_cp {
    font-size: 12px;
}

#notifications_wr {
    margin: 10px 0;
}

#notifications_wr #notifications_title {
    font-size: 14px;
    margin: 0 0 5px 15px;
    font-weight: bold;
}

#notifications_wr #notifications_container {
    position: relative;
    width: 300px;
    overflow-y: hidden;
    margin: 0 auto;
    /*box-shadow: 1px 1px 1px 1px #333333;*/
    height: 415px;
    padding-top: 2px;
    border-top: 1px solid #CCCCCC;
}

#notifications_wr #notifications_container #notifications {
    min-height: 390px;
    display: table-cell;
    vertical-align: bottom;
}

#notifications_wr #notifications .notification {
    width: 100%;
    font-size: 13px;
    margin-bottom: 3px;
    padding-top: 3px;
    border-top: 1px solid #CCCCCC;
}
#notifications_wr #notifications .notification:first-of-type {
    border-top: none;
}

#notifications_wr #notifications .notification .icon {
    width: 24px;
    padding: 3px 6px;
    vertical-align: top;
}

#notifications_wr #notifications .notification .icon div {
    width: 24px;
    height: 24px;
    background: url("images/notifications_icons.png") no-repeat;
}

#notifications_wr #notifications .notification .icon.new_question div {
    background-position: 0 0;
}

#notifications_wr #notifications .notification .icon.new_message div {
    background-position: 0 -24px;
}

#notifications_wr #notifications .notification .icon.addressed_message div {
    background-position: 0 -48px;
}

#notifications_wr #notifications .notification .time {
    color: #777777;
    font-size: 11px;
}

#notifications_wr #notifications .notification .text {
    width: 251px;
    max-width: 251px;
    padding-right: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#change_password_table .label {
    width: 110px;
}

#change_password_table .input {
    width: 171px;
}

#vk_login_holder {
    margin: 15px 0;
}

#edit_interesting_tags .tag {
    font-size: 13px;
    color: #130e5a;
    font-weight: bold;
}

#edit_interesting_tags .tag_delete {
    line-height: 13px;
    font-size: 12px;
    margin-left: 10px;
    color: #999999;
    cursor: pointer;
}

#interesting_tags {
    width: 400px;
}

#new_question_table .label, #edit_question_table .label {
    width: 76px;
}

#new_question_table .input input, #edit_question_table .input input {
    width: 520px;
}

#new_question_table .textarea textarea, #edit_question_table .textarea textarea {
    width: 598px;
    height: 250px;
}

#edit_question_table #edit_cancel {
    margin-right: 30px;
}