* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

table {
    border-spacing: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 15px;
}

body {
    background-color: #FFFFFF;
    min-width: 1000px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea {
    resize: none;
}

a:hover, .link:hover {
    text-decoration: underline;
    cursor: pointer;
}

h3 {
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input[type='text'], input[type='password'] {
    border: 1px solid #777777;
    padding: 5px;
}

input[type='button'], input[type='submit'] {
    background-color: #6474a5;
    color: #EEEEEE;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px #777777;
    min-width: 80px;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    padding: 0 3px;
}

input[type='button']:hover, input[type='submit']:hover {
    box-shadow: 1px 1px 1px 1px #333333;
}

input[type='button']:active, input[type='submit']:active {
    box-shadow: inset 1px 1px 1px 1px #777777;
}
input[type='button']:disabled, input[type='submit']:disabled {
    color: #909090;
}

#header_wr {
    width: 100%;
    background-color: #DDDDDD;
    z-index: 10;
    opacity: 1;
}

#message {
    color: #FFFFFF;
    width: 100%;
    height: 37px;
    text-align: center;
    display: block;
    margin-bottom: -37px;

    position: relative;
    top: -37px;
    z-index: -10;
    line-height: 38px;
    font-size: 18px;
}

#message.error {
    background-color: #CB908F;
}

#message.success {
    background-color: #8CB68F;
}

#header {
    width: 980px;
    margin: 0 auto;
    line-height: 35px;
    height: 35px;
}

#header #online {
    font-size: 11px;
}

#header #header_login {
    text-align: right;
}

#header #header_login #username {
    font-weight: bold;
}

#content_container {
    width: 980px;
    margin: 0 auto;
    padding: 20px 0;
}

#questions_top {
    width: 625px;
}

#questions_top #refresh {
    text-align: right;
}

#questions {
    margin: 15px 0;
}

#questions .item {
    margin-bottom: 8px;
    width: 625px;
    padding: 5px 0;
    border-bottom: 1px dotted #EEEEEE;
}

#questions .item:last-of-type {
    border-bottom: none;
}

#questions .item .votes, #questions .item .messages, #questions .item .subscribers {
    text-align: center;
    color: #778292;
}

#questions .item .messages {
    width: 70px;
}

#questions .item .votes {
    width: 60px;
}

#questions .item .subscribers {
    width: 80px;
}

#questions .item .number {
    font-size: 20px;
    width: 100%;
}

#questions .item .sign {
    font-size: 11px;
    width: 100%;
}

#questions .item .title, #questions .item .tags {
    padding-left: 15px;
}

#questions .item .title {
    font-weight: bold;
    color: #130e5a;
}

#questions .item .tags span, #question_tags span {
    list-style: none;
    margin: 2px 0;
    background-color: #DFE9F0;
    color: #2A5594;
    display: inline-block;
    padding: 2px 4px;
    white-space: nowrap;
    font-size: 13px;
}

#questions .item .time {
    text-align: right;
    color: #777777;
    width: 55px;
    vertical-align: bottom;
    font-size: 11px;
}

#question_back {
    display: block;
    margin-bottom: 15px;
}

#users_in_chat {
    font-size: 12px;
    padding-top: 7px;
}

#users_in_chat span {
    font-weight: bold;
}

#users_in_chat span.anon_users {
    font-weight: normal !important;
}

#question_info {
    width: 625px;
}

#question_title {
    width: 625px;
    color: #130e5a;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

#question_vote {
    padding-right: 10px;
    vertical-align: top;
}

#question_vote_up, #question_vote_down {
    width: 22px;
    height: 22px;
    background: url('images/question_vote.png') no-repeat;
    cursor: pointer;
}

#question_vote_up {
    background-position: 0 0;
}

#question_vote_up:hover, #question_vote_up.voted {
    background-position: -22px 0;
}

#question_vote_down {
    background-position: 0 -22px;
}

#question_vote_down:hover, #question_vote_down.voted {
    background-position: -22px -22px;
}

#question_votes {
    font-size: 20px;
    text-align: center;
}

#question_text {
    width: 625px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-top: 15px;
    vertical-align: top;
}

#question_tags {
    vertical-align: bottom;
}

#question_author {
    font-size: 13px;
    font-weight: bold;
    vertical-align: bottom;
    width: 1px;
}

#chat_wr {
    margin-top: 5px;
}

#chat_wr #chat_container {
    position: relative;
    height: 400px;
    width: 625px;
    overflow-y: hidden;
    border-top: 1px solid #AAAAAA;
    padding-top: 5px;
}

#chat_wr #chat_container #chat {
    height: 390px;
    width: 600px;
    padding: 5px;
    display: table-cell;
    vertical-align: bottom;
}

#chat_wr #message_input {
    margin-top: 10px;
    width: 525px;
}

#chat_wr #send_message_button {
    vertical-align: top;
    position: relative;
    top: 10px;
    width: 80px;
    height: 26px;
    line-height: 26px;
}

#chat_wr #chat .message {
    width: 100%;
    font-size: 13px;
    margin-top: 3px;
}

#chat_wr #chat .message .votes {
    white-space: nowrap;
    vertical-align: top;
    width: 36px;
}

#chat_wr #chat .message .votes .vote_up {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('images/vote_up.png') no-repeat 0 0;
    vertical-align: bottom;
    cursor: pointer;
}

#chat_wr #chat .message .votes .vote_up:hover, #chat_wr #chat .message .votes .vote_up.voted {
    background-position: -16px 0;
}

#chat_wr #chat .message .votes .vote_up.disabled {
    background: white !important;
    cursor: default !important;
}

#chat_wr #chat .message .votes .votes_count {
    line-height: 15px;
    margin: 0 5px 0 0;
    min-width: 15px;
    display: inline-block;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}

#chat_wr #chat .message .name_text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 16px;
    height: 16px;
}

#chat_wr #chat .message .username {
    font-weight: bold;
}

#chat_wr #chat .message .time {
    text-align: right;
    color: #777777;
    width: 55px;
    vertical-align: top;
}

#login_table {
    border-spacing: 0;
    /*width: 500px;*/
    padding: 20px;
}

#login_table td {

}

#login_table input[type='text'], #login_table input[type='password'] {
    width: 200px;
    margin: 10px 0;
    /*font-size: 20px;*/
}

#login_table input[type='submit'] {

}

#login_table a {
    margin-right: 50px;
}

#error_message {
    color: red;
    padding-top: 5px;
    text-align: center;
}

#registered_message {
    color: green;
    padding-top: 5px;
    text-align: center;
}