<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <title>Вопрос-Ответ 2.0</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/main.css" th:href="@{/css/main.css}">
</head>
<body>

<div id="header">

</div>

<div id="content_container">
    <div id="content" th:fragment="content">
        <input type="hidden" value="Вопрос-Ответ 2.0" id="title">
        <script type="text/javascript" th:inline="javascript">
            questions.searchQuery = /*[[${searchQuery}]]*/ undefined;
        </script>
        <table id="questions_top">
            <tr>
                <td><h3>Вопросы:</h3></td>
                <td id="refresh">
                    <input type="hidden" value="0" id="refresh_count">
                    <input type="button" value="Обновить список" id="refresh_button" onclick="questions.refresh()"
                           style="display: none">
                </td>
            </tr>
        </table>

        <table id="questions_search_table" style="display: none;">
            <tr>
                <td>
                    Поиск:
                    <input type="text" id="search_main_input" th:value="${searchQuery}"
                           onkeydown="if(event.keyCode == 13){questions.search(this.value)}">
                    <input type="button" value="Найти"
                           onclick="questions.search(document.getElementById('search_main_input').value)">
                </td>
            </tr>
            <td class="tags"></td>
        </table>


        <div id="questions" th:remove="body">
            <table class="item" th:each="q : ${questions}">
                <tr>
                    <td class="votes" rowspan="2">
                        <div class="number">1</div>
                        <div class="sign">голос</div>
                    </td>
                    <td class="messages" rowspan="2">
                        <div class="number">115</div>
                        <div class="sign">сообщений</div>
                    </td>
                    <td class="subscribers" rowspan="2">
                        <div class="number">3</div>
                        <div class="sign">участника</div>
                    </td>
                    <td class="title" colspan="2">
                        <a href="question.html" th:href="@{/question(id=${q.getId()})}" th:text="${q.getTitle()}">Текст
                            вопроса</a>
                    </td>
                </tr>
                <tr>
                    <td class="tags">
                        <span>информационные технологии</span>
                        <span>программирование</span>
                        <span>java</span>
                        <span>maven</span>
                    </td>
                    <td class="time">18:43:47</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>