<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<head lang="en">
    <meta charset="UTF-8">
    <title>Логин</title>
    <link rel="stylesheet" href="../../css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div id="page_body">
    <div id="right_block_container">
        <div id="right_block" th:fragment="right_block">
            <form th:action="@{/login}" method="POST">
                <table id="login_table">
                    <tr>
                        <td colspan="2" id="login_title">
                            <a href="register.html" th:href="@{/register}" id="login_register">Зарегистрироваться</a>
                            Авторизация
                        </td>
                    </tr>
                    <tr>
                        <td><span>Email или ник</span></td>
                        <td align="right"><input type="text" id="login_email" name="login"></td>
                    </tr>
                    <tr>
                        <td><span>Пароль</span></td>
                        <td align="right"><input type="password" id="login_password" name="password"></td>
                    </tr>
                    <tr>
                        <td colspan="2" id="login_bottom">
                            <a href="lost_password.html" th:href="@{/lost_password}" id="lost_password">Забыли пароль?</a>
                            <input type="submit" value="Вход">
                        </td>
                    </tr>
                </table>
            </form>
            <!-- Put this div tag to the place, where Auth block will be -->
            <div id="vk_auth"></div>
            <script type="text/javascript" src="../../js/vk_auth.js" th:src="@{/js/vk_auth.js}"></script>
        </div>
    </div>
</div>
</body>
</html>