<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вопрос</title>
    <link rel="stylesheet" href="../../css/main.css" th:href="@{/css/main.css}">


    <script type="text/javascript" src="../../js/jquery-2.1.3.min.js" th:src="@{/js/jquery-2.1.3.min.js}"></script>
    <script type="text/javascript" src="../../js/perfect-scrollbar.min.js"
            th:src="@{/js/perfect-scrollbar.min.js}"></script>
    <link rel="stylesheet" href="../../css/perfect-scrollbar.min.css" th:href="@{/css/perfect-scrollbar.min.css}">

    <script>
        $(document).ready(function () {
            $('#chat_container').perfectScrollbar({
                includePadding: true
            });
        });
    </script>

</head>
<body>

<div id="header">

</div>

<div id="content_container">
    <div id="content" th:fragment="content">
        <input type="hidden" th:value="${question.getText()}" value="Вопрос" id="title">
        <input type="hidden" th:value="${question.getUsername()}" value="author" id="author">
        <a href="index.html" th:href="@{/}" id="question_back">Назад к списку вопросов</a>

        <div id="users_in_chat">
            Вопрос просматривают:
            <ul>
                <li class="anon_users"></li>
            </ul>
        </div>


        <table id="question_info">
            <tr>
                <td colspan="2" id="question_title" th:text="${question.getTitle()}">Какой здесь будет заголовок?</td>
            </tr>
            <tr>
                <td id="question_vote" rowspan="2">
                    <div id="question_vote_up" th:class="${vote !=null && vote.getSign()==1} ? 'voted'"></div>
                    <div id="question_votes" th:text="${question.getVotes()}">0</div>
                    <div id="question_vote_down" th:class="${vote !=null && vote.getSign()==-1} ? 'voted'"></div>
                </td>
                <td id="question_text" th:text="${question.getText()}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </td>
            </tr>
            <tr>
                <td id="question_tags">
                    <span th:each="tag : ${question.getTags()}" th:text="${tag.getValue()}">теги</span>
                </td>
                <td id="question_author" th:text="${question.getUsername()}">Автор</td>
            </tr>
        </table>
        <div>

        </div>

        <div id="chat_wr">
            <div id="chat_container">
                <div id="chat" th:remove="body">
                    <table class="message">
                        <tr>
                            <td>
                                <span class="username">Dazar:</span>
                                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </td>
                            <td class="time">14:07:23</td>
                        </tr>
                    </table>
                    <table class="message">
                        <tr>
                            <td>
                                <span class="username">Dazar:</span>
                                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </td>
                            <td class="time">14:07:23</td>
                        </tr>
                    </table>
                    <table class="message">
                        <tr>
                            <td>
                                <span class="username">Dazar:</span>
                                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </td>
                            <td class="time">14:07:23</td>
                        </tr>
                    </table>
                    <table class="message">
                        <tr>
                            <td class="votes">
                                <span class="vote_up"></span>
                                <span class="votes_count">3</span>
                            </td>
                            <td>
                                <span class="username">Dazar:</span>
                                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </td>
                            <td class="time">14:07:23</td>
                        </tr>
                    </table>
                    <table class="message" number="18">
                        <tbody>
                        <tr>
                            <td class="votes"><span class="vote_up disabled"></span><span class="votes_count"></span>
                            </td>
                            <td class="name_text"><span class="username">Dazar: </span><span class="text">0</span></td>
                            <td class="time">18:00:38</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="message" number="18">
                        <tbody>
                        <tr>
                            <td class="votes"><span class="vote_up disabled"></span><span class="votes_count"></span>
                            </td>
                            <td class="name_text"><span class="username">Dazar: </span><span class="text">0</span></td>
                            <td class="time">18:00:38</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="message" number="18">
                        <tbody>
                        <tr>
                            <td class="votes"><span class="vote_up disabled"></span><span class="votes_count"></span>
                            </td>
                            <td class="name_text"><span class="username">Dazar: </span><span class="text">0</span></td>
                            <td class="time">18:00:38</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="message">
                        <tr>
                            <td class="votes">
                                <span class="vote_up"></span>
                                <span class="votes_count">3</span>
                            </td>
                            <td>
                                <span class="username">Dazar:</span>
                                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </td>
                            <td class="time">14:07:23</td>
                        </tr>
                    </table>
                    <table class="message">
                        <tr>
                            <td class="votes">
                                <span class="vote_up"></span>
                                <span class="votes_count">3</span>
                            </td>
                            <td>
                                <span class="username">Dazar:</span>
                                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </td>
                            <td class="time">14:07:23</td>
                        </tr>
                    </table>
                    <table class="message">
                        <tr>
                            <td class="votes">
                                <span class="vote_up"></span>
                                <span class="votes_count">3</span>
                            </td>
                            <td>
                                <span class="username">Dazar:</span>
                                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                            </td>
                            <td class="time">14:07:23</td>
                        </tr>
                    </table>
                    <table class="message" number="18">
                        <tbody>
                        <tr>
                            <td class="votes"><span class="vote_up disabled"></span><span class="votes_count"></span>
                            </td>
                            <td class="name_text"><span class="username">Dazar: </span><span class="text">0</span></td>
                            <td class="time">18:00:38</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="message" number="18">
                        <tbody>
                        <tr>
                            <td class="votes"><span class="vote_up disabled"></span><span class="votes_count"></span>
                            </td>
                            <td class="name_text"><span class="username">Dazar: </span><span class="text">0</span></td>
                            <td class="time">18:00:38</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="message" number="18">
                        <tbody>
                        <tr>
                            <td class="votes"><span class="vote_up disabled"></span><span class="votes_count"></span>
                            </td>
                            <td class="name_text"><span class="username">Dazar: </span><span class="text">0</span></td>
                            <td class="time">18:00:38</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="text" placeholder="Чтобы отправлять сообщения необходимо авторизироваться" id="message_input"
                   disabled>
            <input type="button" value="Отправить" id="send_message_button" disabled>
        </div>
    </div>
</div>
</body>
</html>