<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Вопрос-Ответ 2.0</title>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../../css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../../css/perfect-scrollbar.min.css" th:href="@{/css/perfect-scrollbar.min.css}">

    <!--Setting logged in js variable -->
    <script type="text/javascript" sec:authorize="isAuthenticated()" th:inline="javascript">
        var loggedIn = true;
        var myUsername = /*[[${#authentication.name}]]*/ 'Sebastian';
        var interestingTags = /*[[${interestingTags}]]*/ [];
        var favouriteQuestions = /*[[${favouriteQuestions}]]*/ [];
    </script>
    <script type="text/javascript" sec:authorize="isAnonymous()">
        var loggedIn = false;
        var myUsername = ""; //dirtyHack (костыль)
        var interestingTags = [];
        var favouriteQuestions = [];
    </script>
    <script type="text/javascript" src="http://vk.com/js/api/openapi.js?116"></script>
    <script type="text/javascript" src="../../js/jquery-2.1.3.min.js" th:src="@{/js/jquery-2.1.3.min.js}"></script>
    <script type="text/javascript" src="../../js/sockjs-0.3.4.js" th:src="@{/js/sockjs-0.3.4.js}"></script>
    <script type="text/javascript" src="../../js/stomp.js" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript" src="../../js/perfect-scrollbar.min.js"
            th:src="@{/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" src="../../js/engine.js" th:src="@{/js/engine.js}"></script>
</head>
<body>

<div id="header_wr">
    <table id="header">
        <tr>
            <td style="width: 100px">
                <a href="index.html" th:href="@{/}">На главную</a>
            </td>
            <td id="online">

            </td>
            <td style="width: 99%"></td>
            <td>
                <input type="text" placeholder="Поиск по вопросам" onkeydown="if(event.keyCode == 13){questions.search(this.value)}">
            </td>
            <!--<td id="header_login">
                <span sec:authorize="isAuthenticated()">
                    <span sec:authentication="name" id="username">Логин</span> |
                    <span id="logout_button" class="link">Выход</span>
                </span>
                <span sec:authorize="isAnonymous()">
                    <a href="login.html" th:href="@{/login}">Вход</a> | <a href="register.html" th:href="@{/register}">Регистрация</a>
                </span>
            </td>-->
        </tr>
    </table>
</div>
<div id="message" class="success" th:attr="class=${messageType}" th:text="${message}"></div>

<div id="page_body">
    <div id="right_block_container">
        <div id="right_block" th:fragment="right_block">
        </div>
    </div>
    <div id="content_container">
        <div id="content" th:fragment="content">
        </div>
    </div>
</div>
<div class="clear"></div>



</body>
</html>